<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simc.simc40">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Simc40"
        android:windowSoftInputMode="stateHidden|adjustPan">
        <activity
            android:name=".selecaoListas.SelecaoListaPecasCadastro"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".ModuloDeQualidade" -->
        <!-- android:exported="false" > -->
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value="" /> -->
        <!-- </activity> -->
        <activity
            android:name=".moduloQualidade.moduloTransporte.ModuloDeTransportePecas"
            android:exported="true" />
        <activity
            android:name=".moduloQualidade.moduloTransporte.ModuloDeTransporteSearch"
            android:exported="true" />
        <activity
            android:name=".moduloQualidade.ModuloDeTransporte"
            android:exported="true" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoGalpoesControle"
            android:exported="true" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoMotoristas"
            android:exported="true" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoTransportadoras"
            android:exported="true" />
        <activity
            android:name=".selecaoListas.SelecaoListaRomaneio"
            android:exported="true" />
        <activity
            android:name=".moduloQualidade.relatorioErros.RelatorioDeErrosFiltros"
            android:exported="true" />
        <activity
            android:name=".selecaoListas.SelecaoListaMultipleChoice"
            android:exported="true" />
        <activity
            android:name=".Images.ImageActivity"
            android:exported="true" />
        <activity
            android:name=".configuracaoLeitor.qrCode.ScanActivity"
            android:exported="true" />
        <activity
            android:name=".authentication.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".configuracaoLeitor.qrCode.ReadWriteQrCode"
            android:exported="true" />
        <activity
            android:name=".PDFs.DisplayLoadedPDF"
            android:exported="true" />
        <activity
            android:name=".selecaoListas.SelecaoListaLeitores"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Images.DisplayLoadedImage"
            android:exported="true" />
        <activity
            android:name=".configuracaoUsuario.ConfiguracaoUsuario"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".selecaoListas.SelecaoListaUsuarios"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".authentication.LoginSplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".selecaoListas.SelecaoListaTransportadoras"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".selecaoListas.SelecaoListaGalpoes"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.relatorioErros.SolucionarErro"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".supervisao_relatorio.pesquisar.PesquisarResult"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".supervisao_relatorio.pesquisar.FiltrarTag"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".supervisao_relatorio.pesquisar.PesquisarTag"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.relatorioErros.RelatarErro"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.relatorioErros.RelatorioDeErros"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoChecklist"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".selecaoListas.SelecaoListaEtapas"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".selecaoListas.SelecaoListaClientes"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloTransporte.Descarga"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloTransporte.Carga"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloProducao.LiberacaoLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloProducao.ConcretagemLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloProducao.ArmacaoCFormaLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloProducao.FormaLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloProducao.ArmacaoLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".selecaoListas.SelecaoListaElementos"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloProducao.CadastroLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".selecaoListas.SelecaoListaObras"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoElementos"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoGalpoes"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoVeiculos"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoAcessos"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloGerenciamento.GerenciamentoObras"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".configuracaoLeitor.bluetooth_UHF_RFID_reader_1128.ReadWrite1128"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="com.uk.tsl.rfid.DeviceListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.moduloTransporte.ModuloDeTransporteRomaneio"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.ModuloDeProducaoLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".moduloQualidade.ModuloDeMontagem"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.SupervisaoRelatorio"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ModuloDeQualidadeLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ModuloDeLogistica"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ModuloDeGerenciamento"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.HomeLegacy"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".authentication.Login"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity> <!-- <service android:name=".configuracaoLeitor.ServiceRfidReader" /> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>